input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {

	&:focus {
		outline: 0;
	}
}

button {
	border: 0;
	outline: 0;
	background: transparent;
}
