/* Media Query
============================================ */

@mixin mobile {
  @media only screen and (max-width: 479px){
    @content;
  }
}

@mixin mobileLandscape {
  @media only screen and (max-width: 767px){
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 991px){
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1199px){
    @content;
  }
}

.transition {
	transition: all .4s ease-in-out;
}

.padding {
    padding: 50px 0;
}

.mb-15 {
    margin-bottom: 15px;
}
